<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>HomeServlet</servlet-name>
<servlet-class>test.HomeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HomeServlet</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddServlet</servlet-name>
<servlet-class>test.AddServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddServlet</servlet-name>
<url-pattern>/Add</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SubServlet</servlet-name>
<servlet-class>test.SubServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SubServlet</servlet-name>
<url-pattern>/Sub</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>input.html</welcome-file>
</welcome-file-list>
</web-app>