<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>contentType</display-name>
  
<servlet>
   	<servlet-name>html1</servlet-name>
	<servlet-class>com.nt.Html</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>html1</servlet-name>
	<url-pattern>/htmlurl</url-pattern>
</servlet-mapping>

<servlet>
   	<servlet-name>xml1</servlet-name>
	<servlet-class>com.nt.Xml</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>xml1</servlet-name>
	<url-pattern>/xmlurl</url-pattern>
</servlet-mapping>

<servlet>
   	<servlet-name>plain1</servlet-name>
	<servlet-class>com.nt.Plain</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>plain1</servlet-name>
	<url-pattern>/plainurl</url-pattern>
</servlet-mapping>

<servlet>
   	<servlet-name>word1</servlet-name>
	<servlet-class>com.nt.Word</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>word1</servlet-name>
	<url-pattern>/wordurl</url-pattern>
</servlet-mapping>

<servlet>
   	<servlet-name>excel1</servlet-name>
	<servlet-class>com.nt.Excel</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>excel1</servlet-name>
	<url-pattern>/excelurl</url-pattern>
</servlet-mapping>

</web-app>