<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>RegServlet1</servlet-name>
		<servlet-class>test.RegServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegServlet1</servlet-name>
		<url-pattern>/reg1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegServlet2</servlet-name>
		<servlet-class>test.RegServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegServlet2</servlet-name>
		<url-pattern>/reg2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegServlet</servlet-name>
		<servlet-class>test.RegServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegServlet</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>test.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewServlet</servlet-name>
		<servlet-class>test.ViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewServlet</servlet-name>
		<url-pattern>/view2</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ViewProduct</servlet-name>
		<servlet-class>test.ViewProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewProduct</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddProduct</servlet-name>
		<servlet-class>test.AddProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProduct</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditProduct</servlet-name>
		<servlet-class>test.EditProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProduct</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateProduct</servlet-name>
		<servlet-class>test.UpdateProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProduct</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteProduct</servlet-name>
		<servlet-class>test.DeleteProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteProduct</servlet-name>
		<url-pattern>/del</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>test.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>

</web-app>